<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 1 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-text color="secondary" class="ion-text-center">
    <h1>🎉{{ CurrentVersion }}🎉</h1>
    <h1>COPY THIS IS AWESOME</h1>

    <h1>Here is a new feature! 🚀🚀🚀🚀</h1>
  </ion-text>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
